@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Atendimento
@model AtendimentoConsultaViewModel


@section PageSpecificContainer {
	<div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
		<div class="left-select mb-2 mb-lg-0">
			@Html.HiddenFor(m => m.IsVendedor)
			@Html.HiddenFor(m => m.Filtro.IsVendedor)
			<select asp-for="LojaId" name="LojaId" id="LojaId" class="form-select">
				<option value="">Selecione uma filial</option>
				@if (ViewBag.Lojas != null)
				{
					@foreach (var loja in ViewBag.Lojas)
					{
						<option value="@loja.Value">
							@loja.Text
						</option>
					}
				}
			</select>
			<span asp-validation-for="LojaId" class="text-danger"></span>
		</div>
		<div class="right-search">
			<input type="text" id="searchField" class="form-control" placeholder="Pesquisar..." />
		</div>
	</div>
}

<div class="app-content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb-0 text-center text-sm-center">
					<img src="/icones/atendimento.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
					Atendimentos
				</h3>
			</div>
		</div>
	</div>
</div>

<div class="app-content">
	<div class="container-fluid">

		<br />

		<div class="row">
			<div class="col-sm-10 offset-sm-1">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item atendimento">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingOne">
							<button class="accordion-button-atendimento" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">
								EM ATENDIMENTO
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
							<div class="accordion-body">


								<div id="lista-atendimento">
									@await Html.PartialAsync("_ListaAtendimento", Model)
								</div>
							</div>
						</div>
					</div>
					@* <span class="badge bg-atendimento text-white ms-3">Soma Total: R$ 10.680</span> *@

					<div class="accordion-item orcamento">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingTwo">
							<button class="accordion-button-orcamento" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								ORÇAMENTO
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
							<div class="accordion-body">
								<div id="lista-orcamento">
									@await Html.PartialAsync("_ListaOrcamento", Model)
								</div>
							</div>
						</div>
					</div>
					@* <span class="badge bg-orcamento text-white ms-3">Soma Total: R$ 10.680</span> *@


					<div class="accordion-item vendido">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingThree">
							<button class="accordion-button-vendido" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								VENDIDO
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
							<div class="accordion-body">
								<div id="lista-vendido">
									@await Html.PartialAsync("_ListaVendido", Model)
								</div>
							</div>
						</div>
					</div>
					@* <span class="badge bg-vendido text-white ms-3">Soma Total: R$ 10.680</span> *@

					<div class="accordion-item negociado">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingFour">
							<button class="accordion-button-negociado" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								PERDIDO NEGOCIADO
							</button>
						</h2>
						<div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
							<div class="accordion-body">
								<div id="lista-negociado">
									@await Html.PartialAsync("_ListaNegociado", Model)
								</div>
							</div>
						</div>
					</div>
					@* <span class="badge bg-negociado text-white ms-3">Soma Total: R$ 10.680</span> *@


					<div class="accordion-item naoresponde">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingFive">
							<button class="accordion-button-naoresponde" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								PERDIDO NÃO RESPONDE
							</button>
						</h2>
						<div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive">
							<div class="accordion-body">
								<div id="lista-naoresponde">
									@await Html.PartialAsync("_ListaNaoResponde", Model)
								</div>
							</div>
						</div>
					</div>
					@* <span class="badge bg-naoresponde text-white ms-3">Soma Total: R$ 10.680</span> *@

				</div>
			</div>
		</div>


		<div class="d-flex justify-content-between align-items-center mt-4">
			<a href="/Atendimento/NovoAtendimento" class="custom-button ms-auto">
				NOVO ATENDIMENTO
				<img src="/icones/atendimento.png" alt="Ícone">
			</a>
		</div>

	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/atendimento/consulta.js"></script>
	}
