
.hidden {
    display: none;
}

.form-check-input:checked {
    background-color: #f71964;
    border-color: #f71964;
}

.status-atendimento {
    color: #FF914D;
}

.status-atendimento-bg {
    background-color: #FF914D;
}

.status-orcamento {
    color: #38BDF2;
}

.status-orcamento-bg {
    background-color: #38BDF2;
}

.status-vendido {
    color: #04BF55;
}

.status-vendido-bg {
    background-color: #04BF55;
}


.status-negociado {
    color: #FF3131;
}

.status-negociado-bg {
    background-color: #FF3131;
}


.status-naoresponde {
    color: #FF5757;
}

.status-naoresponde-bg {
    background-color: #FF5757;
}


.container {
    margin-top: 20px;
}

.quadro {
    background-color: #333; /* Cor de fundo dos quadros */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.quadro-valor {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

.form-select-atendimento {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FF914D !important;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  .form-select-atendimento:disabled {
        background-color: #FF914D !important;
    }


.page-specific-container {
    padding: 0.5rem 1rem;
    background-color: var(--bs-body-bg, #f8f9fa); /* Cor de fundo */
    border-bottom: 1px solid #ddd; /* Linha divisória */
}

    .page-specific-container .form-select,
    .page-specific-container .form-control {
        max-width: 300px;
        margin: 0 10px;
    }