/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}*/


/* Variáveis de Tema */
:root {
    --background-color: white;
    --text-color: black;
    --highlight-color: #F21D6B;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --highlight-color: #F21D6B;
}

/* Aplicação das Variáveis */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave */
}

a {
    color: var(--highlight-color);
    transition: color 0.3s ease; /* Transição suave para links */
}

.navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--highlight-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .navbar a {
        color: var(--text-color);
        transition: color 0.3s ease;
    }


button {
    background-color: var(--highlight-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

    button:hover {
        background-color: var(--text-color);
        color: var(--highlight-color);
    }


/* Estilos do Menu Lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 1000;
}

    .sidebar ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .sidebar ul li {
            padding: 10px 20px;
        }

            .sidebar ul li a {
                color: var(--text-color);
                text-decoration: none;
                display: block;
                transition: color 0.3s ease;
            }

                .sidebar ul li a:hover {
                    color: var(--highlight-color);
                }

        .sidebar ul ul {
            padding-left: 20px;
        }

            .sidebar ul ul li a {
                font-size: 0.9rem;
            }

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }

        .sidebar.open {
            width: 250px;
        }

    .content {
        margin-left: 0;
    }

        .content.open {
            margin-left: 250px;
        }
}
