@using System.Security.Claims;

@{
	var userName = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Name)?.Value : "Visitante";
	var userPerfil = User.Identity.IsAuthenticated ? User.FindFirst("Perfil")?.Value : "Sem Perfil";
}


<aside class="app-sidebar bg-body-primary shadow" data-bs-theme="dark" style="background-color:#f71964 !important;">
	<div class="sidebar-wrapper">
		<nav class="mt-2">
			<ul class="nav sidebar-menu flex-column"
			data-lte-toggle="treeview"
			role="menu"
			data-accordion="false">

				<li class="nav-item">
					<a href="/Home/Index" class="nav-link">
						<img src="/icones/casa.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
						<p>Home</p>
					</a>
				</li>
				@if (userPerfil == "Administrador" || userPerfil == "Gerente")
				{

					<li class="nav-item">
						<a href="/Dashboard/Index" class="nav-link">
							<img src="/icones/pizza.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
							<p>Dashboard</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="/Atendimento/Consulta" class="nav-link">
							<img src="/icones/atendimento.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
							<p>Atendimentos</p>
						</a>
					</li>
				}
				@if (userPerfil == "Vendedor")
				{
					<li class="nav-item">
						<a href="/Atendimento/Consulta" class="nav-link">
							<img src="/icones/atendimento.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
							<p>Meus Atendimentos</p>
						</a>
					</li>
				}



				<li class="nav-item">
					<a href="#" class="nav-link">
						<img src="/icones/pessoa.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
						<p>
							Clientes
							<i class="nav-arrow bi bi-chevron-right"></i>

						</p>
					</a>


					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/Cliente/Cadastro" class="nav-link">
								<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
								<p>Cadastro</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/Cliente/Consulta" class="nav-link">
								<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
								<p>Pesquisa</p>
							</a>
						</li>
					</ul>
				</li>

				@if (userPerfil == "Administrador" || userPerfil == "Gerente")
				{
					<li class="nav-item">
						<a href="#" class="nav-link">
							<img src="/icones/to-do-list.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
							<p>
								Cadastros
								<i class="nav-arrow bi bi-chevron-right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/Vendedor/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Vendedor</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Canal/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Canal</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Origem/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Origem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Produto/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Produto</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Tamanho/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Tamanho</p>
								</a>
							</li>

						</ul>
					</li>


					<li class="nav-item">
						<a href="#" class="nav-link">
							<img src="/icones/filial.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
							<p>
								Filiais
								<i class="nav-arrow bi bi-chevron-right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="/Loja/Consulta" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Pesquisa</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/Loja/Cadastro" class="nav-link">
									<img src="/icones/flecha-direita.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
									<p>Nova Filial</p>
								</a>
							</li>
						</ul>
					</li>

				}


				


			</ul>
		</nav>
	</div>
</aside>