@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Usuario
@model VendedorViewModel

<div class="row g-4">
	<div class="col-sm-6">
		<div class="form-group">
			<label asp-for="Nome"></label>
			<input asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome" />
			<span asp-validation-for="Nome" class="text-danger"></span>
		</div>
	</div>
</div>
<div class="row g-4">
	<div class="col-sm-6">
		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" id="Email" type="email" placeholder="Digite o e-mail (acesso)" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label asp-for="ConfirmaEmail"></label>
			<input asp-for="ConfirmaEmail" class="form-control" id="ConfirmaEmail" type="email" placeholder="Confirme o e-mail" />
			<span asp-validation-for="ConfirmaEmail" class="text-danger"></span>
		</div>
	</div>
</div>
<div class="row g-4">
	<div class="col-sm-6">
		<div class="form-group">
			<label asp-for="Senha"></label>
			<input asp-for="Senha" type="password" class="form-control" id="Senha" placeholder="Digite a senha" />
			<span asp-validation-for="Senha" class="text-danger"></span>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label asp-for="ConfirmaSenha"></label>
			<input asp-for="ConfirmaSenha" type="password" class="form-control" id="ConfirmaSenha" placeholder="Confirme a senha" />
			<span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
		</div>
	</div>
</div>

<br />
<div class="row g-4">
	<div class="col-sm-12">
		<button type="submit" class="btn btn-primary float-sm-end">Salvar</button>

	</div>
</div>