@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Usuario
@model PaginacaoResultado<UsuarioConsulta>


<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<!--begin::Row-->
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Consulta de Vendedores</h3></div>
			<div class="col-sm-6">
				<div class="float-sm-end">
					<a asp-action="Cadastro" class="btn btn-primary w-100 mt-3">Cadastro de Vendedor</a>
				</div>
			</div>
		</div>
		<!--end::Row-->
	</div>
	<!--end::Container-->
</div>

<div class="app-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<!-- Listagem de Perfis -->
				<div id="vendedor-listagem">
					@await Html.PartialAsync("_Listagem", Model)
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<!-- Scripts para validação do lado do cliente -->
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/vendedor/consulta.js"></script>
	}

