@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Usuario
@model VendedorViewModel

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Edição do(a) Vendedor(a)</h3></div>

		</div>
	</div>
	<!--end::Container-->
</div>

<div class="app-content">
	<div class="container-fluid">

		<form asp-action="Editar" method="post">
			@Html.HiddenFor(m => m.Id)
			@Html.HiddenFor(m => m.Guid)
			<div class="row g-4">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="Nome"></label>
						<input asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="LojaId"></label>
						<select asp-for="LojaId" asp-items="ViewBag.Lojas" class="form-control">
							<option value="">Selecione uma filial</option>
						</select>
						<span asp-validation-for="LojaId" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row g-4">
				<div class="col-sm-6">
					<div class="form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" class="form-control" id="Email" type="email" placeholder="Digite o e-mail (acesso)" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
			</div>

			<br />
			<div class="row g-4">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary float-sm-end">Salvar</button>

				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<!-- Scripts para validação do lado do cliente -->
	<partial name="_ValidationScriptsPartial" />

	}