@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Canal
@model CanalViewModel

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Cadastro de Canal</h3></div>

		</div>
	</div>
	<!--end::Container-->
</div>


<div class="app-content">
	<div class="container-fluid">
		<form asp-action="Cadastro" method="post">
			<partial name="_Visualizar" />
		</form>
	</div>
</div>

@section Scripts {
	<!-- Scripts para validação do lado do cliente -->
	<partial name="_ValidationScriptsPartial" />

	<script>

			document.querySelectorAll('#color-picker .color-option').forEach(function (el) {
			el.addEventListener('click', function () {
				// Remove seleção anterior
				document.querySelectorAll('#color-picker .color-option').forEach(function (item) {
					item.classList.remove('selected');
				});

				// Adiciona seleção atual
				el.classList.add('selected');

				// Marca o radio interno
				el.querySelector('input[type="radio"]').checked = true;
			});
		});


	</script>

	}