@using System.Security.Claims;
@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Dashboard
@using PWMetricas.Dominio.Enumerators
@model DashboardViewModel






<div class="row g-4">
	<div class="col-sm-10 offset-sm-1">

		<div class="legenda">
			<span class="atendimento">Atendimento</span>
			<span class="orcamento">Orçamento</span>
			<span class="vendido">Vendido</span>
			<span class="perdido-negociado">Perdido Negociado</span>
			<span class="perdido-nresponde">Perdido Ñ Responde</span>
		</div>

		<div class="card-atendimentos">
			<h3>Allita Itapema</h3>
			<div class="valores">
				<div class="valor laranja">R$ 310.230,00</div>
				<div class="valor azul">R$ 1.210.730,00</div>
				<div class="valor verde">R$ 1.129.730,00</div>
				<div class="valor vermelho-escuro">R$ 829.730,00</div>
				<div class="valor vermelho">R$ 429.730,00</div>
			</div>
		</div>

		<div class="card-atendimentos">
			<h3>Allita Florianópolis</h3>
			<div class="valores">
				<div class="valor laranja">R$ 310.230,00</div>
				<div class="valor azul">R$ 1.210.730,00</div>
				<div class="valor verde">R$ 1.129.730,00</div>
				<div class="valor vermelho-escuro">R$ 829.730,00</div>
				<div class="valor vermelho">R$ 429.730,00</div>
			</div>
		</div>

	</div>
</div>

