@{
	ViewData["Title"] = "Página Inicial";
}


<style>

	
	.container {
		margin-top: 20px;
	}

	.quadro {
		background-color: #333; /* Cor de fundo dos quadros */
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 5px;
		text-align: center;
	}

	.quadro-valor {
		font-size: 1.5em;
		font-weight: bold;
		margin-top: 10px;
	}

	.btn-custom {
		color: #fff;
		background-color: #e91e63; /* Cor de destaque dos botões */
		border-color: #e91e63;
	}

		.btn-custom:hover {
			background-color: #c2185b;
			border-color: #c2185b;
		}

	.botao-novo {
		position: relative;
	}

	.icone-balao {
		position: absolute;
		top: -10px;
		right: -10px;
		background-color: #e91e63;
		color: #fff;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
	}
</style>

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		
	</div>
	<!--end::Container-->
</div>


<div class="app-content">
	<div class="container-fluid">


	

		<div class="container-principal">
			<div class="row">
				<div class="col-sm-12">
					<div style="display: flex; align-items: center; margin-bottom: 20px;">
						<span style="font-size: 2em; margin-right: 10px;">✔️</span>
						<div>
							<h4>Veja como estão</h4>
							<h2>SEUS RESULTADOS</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="quadro">
						<div>EM ATENDIMENTO</div>
						<div class="quadro-valor">R$ 14.250,90</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="quadro">
						<div>ORÇAMENTO</div>
						<div class="quadro-valor">R$ 11.950,90</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="quadro">
						<div>VENDIDO</div>
						<div class="quadro-valor">R$ 27.950,90</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="quadro">
						<div>PERDIDO NEGOCIADO</div>
						<div class="quadro-valor">R$ 9.420,90</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="quadro">
						<div>PERDIDO Ñ RESPONDE</div>
						<div class="quadro-valor">R$ 16.841,00</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<button type="button" class="btn btn-lg btn-default">VERIFICAR ATENDIMENTOS</button>
				</div>
				<div class="col-sm-6 text-right botao-novo">
					<button type="button" class="btn btn-lg btn-custom">NOVO ATENDIMENTO</button>
					<span class="icone-balao">💬</span>
				</div>
			</div>
		</div>


	</div>
</div>
