@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Usuario
@model UsuarioViewModel

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Cadastro de Usuário</h3></div>

		</div>
	</div>
	<!--end::Container-->
</div>






<div class="app-content">
	<div class="container-fluid">



		<form asp-action="Cadastro" method="post">
			<div class="row g-4">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="Nome">Nome</label>
						<input asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="Email">E-mail</label>
						<input asp-for="Email" class="form-control" id="Email" placeholder="Digite o e-mail" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row g-4">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="Senha">Senha</label>
						<input asp-for="Senha" type="password" class="form-control" id="Senha" placeholder="Digite a senha" />
						<span asp-validation-for="Senha" class="text-danger"></span>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="PerfilId">Perfil</label>
						<select asp-for="PerfilId" asp-items="ViewBag.Perfis" class="form-control">
							<option value="">Selecione um perfil</option>
						</select>
						<span asp-validation-for="PerfilId" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row g-4">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary btn-sm float-sm-end">Salvar</button>
					
				</div>
			</div>
		</form>
	</div>
</div>