@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Tamanho
@model TamanhoViewModel
<div class="row g-4">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="Nome"></label>
			<input asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome" />
			<span asp-validation-for="Nome" class="text-danger"></span>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group form-check form-switch">
			<input asp-for="Ativo" class="form-check-input" type="checkbox" id="Ativo" />
			<label asp-for="Ativo" class="form-check-label">Ativo</label>
		</div>
		<span asp-validation-for="Ativo" class="text-danger"></span>
	</div>
</div>
<div class="row g-4">
	<div class="col-sm-3">
		<label asp-for="CorHex"></label>
		<div id="color-picker"></div>
		<input type="hidden" id="CorHex" name="CorHex" />
		<input asp-for="CorHex" type="hidden" id="CorHex" />
		<span asp-validation-for="CorHex" class="text-danger"></span>
	</div>
</div>
<br />
<div class="row g-4">
	<div class="col-sm-12">
		<button type="submit" class="btn btn-primary float-sm-end">Salvar</button>

	</div>
</div>