@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Tamanho
@model TamanhoViewModel

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Cadastro de Tamanho</h3></div>

		</div>
	</div>
	<!--end::Container-->
</div>

<div class="app-content">
    <div class="container-fluid">

        <form asp-action="Cadastro" method="post">
            <partial name="_Visualizar" />
        </form>
    </div>
</div>


@section Scripts {
    <!-- Scripts para validação do lado do cliente -->
    <partial name="_ValidationScriptsPartial" />

    <script>
        const pickr = Pickr.create({
            el: '#color-picker',
            theme: 'classic',
            default: '#000000',
            components: {
                preview: true,
                opacity: true,
                hue: true,
                interaction: {
                    hex: true,
                    rgba: true,
                    input: true,
                    save: true
                }
            }
        });

        pickr.on('save', (color) => {
            const hexColor = color.toHEXA().toString();
            document.getElementById('CorHex').value = hexColor;
        });
    </script>

	}