@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Tamanho
@model TamanhoViewModel

<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Edição do Tamanho</h3></div>

		</div>
	</div>
	<!--end::Container-->
</div>

<div class="app-content">
	<div class="container-fluid">

		<form asp-action="Editar" method="post">
			<div class="row g-4">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="Nome">Nome</label>
						<input asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome" />
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>
				</div>
			</div>
			<br />
			<div class="row g-4">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary btn-sm float-sm-end">Salvar</button>

				</div>
			</div>
		</form>
	</div>
</div>